{% extends 'base.html' %} {% load static %} {% block content %}
<!--Page visible on clicking reports by department-->
<section class="flex flex-col gap-5 min-h-full bg-slate-700">
  <header class="bg-white p-8">
    <h2 class="text-3xl text-center">Attendance Report By Department</h2>
  </header>
  <div class="flex-1">
    <div class="bg-white w-2/5 mx-auto p-8 rounded-md shadow-md">
      <form method="GET" class="flex justify-center gap-4 rounded-md flex-col p-4">
        <select name="selected_dept" class="p-4 bg-blue-400 text-white rounded-md">
          {% if selected_dept == 'ECE' %}<!--Option for choosing any of the departments entered-->
            <option value="ECE" selected>Electronics and Communication</option>
          {% else %}
            <option value="ECE">Electronics and Communication</option>
          {%endif%}
          {% if selected_dept == 'CSE' %}
            <option value="CSE" selected>Computer Science</option>
          {% else %}
            <option value="CSE">Computer Science</option>
          {% endif %}
        </select>
        <input id="startDate" type="date" name="startDate" value={{startDate|date:"Y-m-d"}} class="border p-2">
        <input id="endDate" type="date" name="endDate" value={{endDate|date:"Y-m-d"}} class="border p-2">  
        <button type="submit" class="bg-green-400 px-2 py-2 text-white rounded-md">Get Attendance Report</button>
      </form>
    </div><!--Table with attendance for each subject in the branch-->
    <table class="bg-white w-2/5 mt-4 mx-auto p-4 rounded-md">
        <thead>
            <tr>
                <th class="p-4">
                    Student Name
                </th>
                {% for subject in time_table_list %}
                <th class="p-4">
                    {{subject}}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                {% for student in student_list %}
                    <tr class="bg-gray-50">
                        <td class="p-4 text-center capitalize">{{student.student_name}}</td>
                        {% for subject in student.subject_list %}
                          <td class="p-4 text-center">
                            {{subject.attendance | floatformat}}%
                          </td>
                        {% endfor %}
                    </tr>
                {% endfor%}
        </tbody>
    </table>
  </div>
</section>
{% endblock content %}
